<div>
  <form
    id="addForm"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit(signupForm.value)"
    style="margin-top: 85px;"
  >
    <div
      class="field"
      style="background-color:black;"
      *ngFor="let field of s_Fields"
    >
      <ng-container *ngIf="field.type == 'select'; else other">
        <label class="col-sm-2" [for]="field.id" style="color:yellowgreen;"
          >{{ field.name }} :</label
        >
        <select
          class="custom-select d-inline col-sm-4"
          [id]="field.id"
          [name]="field.name"
          [formControlName]="field.id"
          (blur)="valid($event)"
        >
          <option [selected]="true">Choose...</option>
          <option
            *ngFor="let option of field.options.sort()"
            (blur)="valid($event)"
            >{{ option }}</option
          >
        </select>
      </ng-container>
      <ng-template #other>
        <ng-container *ngIf="field.type == 'file'; else others">
          <label class="col-sm-2" [for]="field.id" style="color:yellowgreen;"
            >{{ field.name }} :</label
          >
          <input
            s
            class="col-sm-4"
            [type]="field.type"
            [id]="field.id"
            [name]="field.name"
            [formControlName]="field.id"
            (change)="valid($event); onSelectFile($event)"
            (blur)="valid($event)"
          />
        </ng-container>
        <ng-template #others>
          <label class="col-sm-2" [for]="field.id" style="color:yellowgreen;"
            >{{ field.name }} :</label
          >
          <input
            class="col-sm-4"
            [type]="field.type"
            [id]="field.id"
            [value]="empDetail[field.id]"
            [name]="field.name"
            [formControlName]="field.id"
            (blur)="valid($event)"
          />
        </ng-template>
      </ng-template>
    </div>

    <p *ngIf="!flag || !vflag">
      <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> {{ alertText }}.
      </ngb-alert>
    </p>
    <button
      class="btn btn-secondary m-2"
      type="reset"
      (click)="flag = true; vflag = true"
    >
      Clear
    </button>
    <button class="btn btn-primary m-2" type="submit">Submit</button>
  </form>
</div>
